
pool:
  vmImage: ubuntu-latest

steps:

- script: |
    echo Validacion de Variables recibidas a traves de Github Actions
    echo $(REPOSITORIO)
    echo $(STATUSACTION)
  displayName: 'Print variables'

- script: |
    curl --silent -H "Accept: application/vnd.github+json" -H "Authorization: Bearer $(TOKEN-GITHUB)" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/DevOps-Foundation-v3/pet-clinic/actions/artifacts/473249294/zip --location -o artefacto.zip
    unzip $(Build.SourcesDirectory)/artefacto.zip
  displayName: Descarga artefacto desde Github
  continueOnError: true


- task: DockerInstaller@0
  inputs:
    dockerVersion: '17.09.0-ce'

- task: Docker@2
  inputs:
    containerRegistry: 'docker'
    command: 'login'

- task: Docker@2
  inputs:
    containerRegistry: 'docker'
    repository: 'pet-clinic'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: 'latest'