name: Java CI with Gradle

on:
  push:
    branches: [ "main", "feature-*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    #clonacion de repositorio en workspace
    - uses: actions/checkout@v3
    
    #configuracion de JDK 11
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    #Permisos de ejecucion a gradlew
    - run: | 
        chmod +x gradlew
        
    
    #compilacion de repositorio
    - name: Build with Gradle
      uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
      with:
        arguments: build
        
    #se guarda JAR en github packages
    - uses: actions/upload-artifact@v3
      with:
        name: Package
        path: build/libs
        
   #ejecucion pipeline Az Devops  
    - name: azPipelinesRun
      uses: Azure/pipelines@v1.2
      with:
        azure-devops-project-url: 'https://dev.azure.com/clagos353/DevOps-Foundation-v3'
        azure-pipeline-name: 'proyecto-java'
        azure-pipeline-variables: '{"repositorio": "proyecto-java", "statusAction": "OK"}'
        azure-devops-token: '${{ secrets.AZURE_DEVOPS_TOKEN }}'
